
body{
background-image: url("https://4.bp.blogspot.com/-B3nEiHw75f0/VmfFYc-HrBI/AAAAAAAAByc/eIFaqlHV-Qg/s1600/IMG_20151207_185247_hdr_painterly%2B4.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: serif;
font-size: 1.3em;
color: #gray;
text-align:center;


}
.box{
background-color: #132235;
height: 850px;
width: 40%;
float: inherit;

}

#title{
text-align:center;
color:#1affa3;
}

.demoHeaders{
  color: #FFFFFF;
}

.venue{
  color: #FFFFFF;
}
